body {
     background-color: #f6f6f6;
     font-family: Futura;
     font-size: 15px;
     background-size: 100%;
}

@media (max-width: 1100px) {
  body { font-size: .5em; }
}

#header {
     margin-left: 2em;
     margin-right: 2em;
     margin-top: 2em;
     font-size: 1.5em;
}

#sub_header {
     font-size: .8em;
}

#projects {
     height: 100%;
     width: 100%;
     margin-right: auto;
     margin-left: auto;
     text-align: center;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.3;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

#group_projs {
     margin-right: auto;
     margin-left: auto;
     width: 98%;

}

.project {
     float: left;
     text-align: center;
     padding-left: 5em;
     padding-right: 3em;
}

img {
     width: 100%;
     padding: 1em;
     height: auto;
}